{% extends 'base.html' %}
{% block content %}
<form name="form-login" id="formLogin" method="post" action="/changePassword/">
    <div class="col-6 mt-4 m-auto">
        {% if msg %}
        <div class="alert {{ class }}">
            {{msg}}
        </div>
        {% endif %}
        {% csrf_token %}
        <input class="form-control mt-4" type="email" name="email" id="email" placeholder="E-mail">
        <input class="form-control mt-4" type="password" name="newPassword" id="newPassword" placeholder="Nova senha">
        <input class="form-control mt-4" type="password" name="newPassword-conf" id="newPassword-conf" placeholder="Confirme a nova senha">

        <input class="btn btn-dark mt-4" type="submit" value="Entrar">
        <a href="/changePassword/">Esqueci minha senha</a>
    </div>

</form>

{% endblock content %}